$color-gray-500: #444654;
$color-gray-700: rgb(55 65 81);
$color-gray-800: rgb(31 41 55);
$color-gray-900: rgb(17 24 39);

$color-text: rgb(243 244 246);
$color-placeholder-text: #94a3b8;

$color-button-hover: #2a2b32;
